<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import Vue framework -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import Pure CSS framework -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" SameSite=None>
    <link rel="stylesheet" href="/static/sakanyapp/stylesheet.css">
    {% load static %}
    <title></title>
  </head>
  <body>
    <div id="app">
      <div class="header">
        <div class="home-menu pure-menu-horizontal pure-menu-fixed">
            <div class="">
              <a class="pure-menu-heading" href="/"><img src="{% static "sakanyapp/logo2.png" %}" alt="logo"></a>
              <div class="pure-menu-heading">A Pub Crawler</div>
            </div>
            <div class="pure-menu-buttons">
                <a class="pure-button" href="/profile">PROFILE</a>
                <a class="pure-button" href="/logout">LOGOUT</a>
            </div>
        </div>
      </div>
      <div class="main">
        <div class="pure-form pure-flex-row">
          <input type="text" v-model="address" placeholder="Input a starting address" v-on:keypress.enter="submitAddress">
          <button type="submit" class="pure-button" v-on:click="submitAddress">Submit</button>
        </div>
        <div class="pure-g" v-if="submitted">
          <div class="pure-u-1-2">
            <div class="pure-menu custom-restricted-width">
              <h3>Nearby pubs:</h3>
              <h6>click to add</h6>
              <ul class="pure-menu-list">
                <li @click="pubSelected(pub, i)" v-for="(pub, i) in pubresults" class="pure-menu-item pure-flex-container pure-flex-column">
                  <div v-html="pub.name"></div>
                  <div v-html="pub.location.address1"></div>
                  <div>
                    <span v-html="pub.location.city"></span>, <span v-html="pub.location.state"></span> <span v-html="pub.location.zip_code"></span>
                  </div>
                  <div v-bind:style="{ fontSize: .7 + 'em' }" class="pure-flex-row">
                    <div>[[pub.newdistance]] [[pub.unit]]</div>
                    <div>
                      <i class="fa fa-star" v-for="i in pub.stars"></i><i class="fa fa-star-half" v-if="pub.halfstar > 0"></i><span> ([[pub.review_count]])</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="pure-u-1-2" v-if="selectedpubs[0]">
            <div class="pure-form pure-flex-column-norm">
              <h3>Your crawl:</h3>
              <input type="text" v-model="crawlname" placeholder="Name this Crawl" v-on:keypress.enter="createCrawl">
              <button type="submit" class="pure-button" v-on:click="createCrawl">Submit</button>
            </div>
            <div class="pure-menu custom-restricted-width">
              <h6>click to remove</h6>
              <ul class="pure-menu-list">
                <div v-for="(selectedpub, i) in selectedpubs">
                  <li @click="pubDeselected(selectedpub, i)" class="pure-menu-item pure-flex-container pure-flex-column">
                    <div v-html="selectedpub.name"></div>
                    <div v-html="selectedpub.location.address1"></div>
                    <div>
                      <span v-html="selectedpub.location.city"></span>, <span v-html="selectedpub.location.state"></span> <span v-html="selectedpub.location.zip_code"></span>
                    </div>
                    <div v-bind:style="{ fontSize: .7 + 'em' }" class="pure-flex-row">
                      <div>[[selectedpub.newdistance]] [[selectedpub.unit]]</div>
                      <div>
                        <i class="fa fa-star" v-for="i in selectedpub.stars"></i><i class="fa fa-star-half" v-if="selectedpub.halfstar > 0"></i><span> ([[selectedpub.review_count]])</span>
                      </div>
                    </div>
                  </li>
                  <i class="fa fa-long-arrow-down fa-xs" v-if="i != selectedpubs.length - 1"></i>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        delimiters: ['[[',']]'],
        data: {
          address: '',
          pubresults: [],
          origin: [],
          locations: [],
          submitted: false,
          displaymap: false,
          selectedpubs: [],
          crawlname: '',
          currentlat: 0,
          currentlon: 0,
          distance: 0,
        },
        methods: {
          submitAddress: function() {
            if (this.address) {
              axios({
                method: 'post',
                url: '{% url 'sakanyapp:findpub' %}',
                headers: {
                  'X-CSRFToken':
                  '{{csrf_token}}'
                },
                data: {
                  address: this.address
                }
              }).then(response => {
                this.submitted = true
                this.address = ''
                console.log(response.data.pubresults)
                this.pubresults=response.data.pubresults
                this.origin = response.data.origin
                for (pub of this.pubresults) {
                  if (pub.distance > 304) {
                    pub.newdistance = (pub.distance * 0.000621371).toFixed(2)
                    pub.unit = "mi"
                  } else {
                    pub.newdistance = (pub.distance * 3.28084).toFixed(0)
                    pub.unit = "ft"
                  }
                  pub.stars = pub.rating -(pub.rating % 1)
                  pub.halfstar = pub.rating % 1
                }
              })
            }
          },
          mapPoints: function() {
            for (pub in this.pubresults) {
              this.locations.push([pub.name, pub.coordinates.latitude, pub.coordinates.longitude])
            }
          },
          pubSelected: function(pub, i) {
            this.selectedpubs.push(pub)
            this.currentlat = pub.coordinates.latitude
            this.currentlon = pub.coordinates.longitude
            this.pubresults.splice(i, 1)
            for (pubs of this.pubresults) {
              this.distCalc(pubs, i)
            }
            this.pubresults.sort((a, b) => {
              return a.distance - b.distance
            })
            index = 0
            for (pubs of this.selectedpubs) {
              index++
              if (index == 1) {
                this.currentlat = pubs.coordinates.latitude
                this.currentlon = pubs.coordinates.longitude
              }
              this.distCalc(pubs, i)
              this.currentlat = pubs.coordinates.latitude
              this.currentlon = pubs.coordinates.longitude
            }
            this.pubresults.sort((a, b) => {
              return a.distance - b.distance
            })
            console.log(this.selectedpubs)
          },
          pubDeselected: function(pub, i) {
            this.pubresults.push(pub)
            this.selectedpubs.splice(i, 1)
            if (this.selectedpubs.length > 0) {
              this.currentlat = this.selectedpubs[this.selectedpubs.length-1].coordinates.latitude
              this.currentlon = this.selectedpubs[this.selectedpubs.length-1]
              index = 0
              for (pubs of this.selectedpubs) {
                index++
                if (index == 1) {
                  this.currentlat = pubs.coordinates.latitude
                  this.currentlon = pubs.coordinates.longitude
                }
                this.distCalc(pubs, i)
                this.currentlat = pubs.coordinates.latitude
                this.currentlon = pubs.coordinates.longitude
              }
            } else {
              this.currentlat = this.origin[0]
              this.currentlon = this.origin[1]
            }
            for (pubs of this.pubresults) {
              this.distCalc(pubs, i)
            }
            this.pubresults.sort((a, b) => {
              return a.distance - b.distance
            })
            console.log(this.selectedpubs)
          },
          distCalc: function(pub, i) {
            rad = 6371e3
            pi = Math.PI
            lat1 = this.currentlat * pi / 180
            lat2 = pub.coordinates.latitude * pi / 180
            deltalat = (pub.coordinates.latitude - this.currentlat) * pi / 180
            deltalon = (pub.coordinates.longitude - this.currentlon) * pi / 180
            alpha = Math.sin(deltalat/2) * Math.sin(deltalat/2) + Math.cos(lat1) * Math.cos(lat2) * Math.sin(deltalon/2) * Math.sin(deltalon/2)
            charlie = 2 * Math.atan2(Math.sqrt(alpha), Math.sqrt(1-alpha))
            pub.distance = rad * charlie
            if (pub.distance > 304) {
              pub.newdistance = (pub.distance * 0.000621371).toFixed(2)
              pub.unit = "mi"
            } else {
              pub.newdistance = (pub.distance * 3.28084).toFixed(0)
              pub.unit = "ft"
            }
          },
          createCrawl: function() {
            if (this.selectedpubs && this.crawlname) {
              axios({
                method: 'post',
                url: '{% url 'sakanyapp:newcrawl' %}',
                headers: {
                  'X-CSRFToken':
                  '{{csrf_token}}'
                },
                data: {
                  pub_route: this.selectedpubs,
                  crawlname: this.crawlname
                }
              }).then(response => {
                window.location = "{% url 'sakanyapp:profile' %}"
              })
            }
          }
        }
      })
      console.log(app.locations)
    </script>
    <!-- <script src="http://maps.google.com/maps/api/js?key={{mapapi}}&callback=initMap" async defer></script> -->
  </body>
</html>
