<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import Vue framework -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- import Pure CSS framework -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/sakanyapp/stylesheet.css">
    <title></title>
  </head>
  <body>
    <div id="app">
      <div class="header">
        <div class="home-menu pure-menu-horizontal pure-menu-fixed">
          <a class="pure-menu-heading" href="">Sakany Taurus: A Pub Crawler</a>
        </div>
      </div>
      <div class="main">
        <div id="map" style="height: 400px; width: 500px;"></div>
      </div>
    </div>

    <script type="text/javascript">
      var locations = [
        ['Bondi Beach', -33.890542, 151.274856, 4],
        ['Coogee Beach', -33.923036, 151.259052, 5],
        ['Cronulla Beach', -34.028249, 151.157507, 3],
        ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
        ['Maroubra Beach', -33.950198, 151.259302, 1]
      ];
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.92, lng: 151.25},
          zoom: 10,
        });
        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        setTimeout(function(){
          for (i = 0; i < locations.length; i++) {
            createMarkers(i);
          }
        }, 200)
      }
      function createMarkers(i) {
        setTimeout(function() {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            title:locations[i][0],
            map: map,
            animation: google.maps.Animation.DROP
          });
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }, 200*i);
      }
      let app = new Vue({
        el: '#app',
        data: {

        },
        methods: {

        }
      })
    </script>
    <script src="http://maps.google.com/maps/api/js?key={{mapapi}}&callback=initMap" async defer></script>
  </body>
</html>
